[user]
forceIconSize=true
iconSize=20
noWindowsListIfSingle=false
onlyDisplayVisible=false
onlyDisplayScreen=false
showPreviews=false
showWindowCount=false
indicatorStyle=5
inactiveIndicatorStyle=5
inactiveColor=rgb(0,0,0)
