[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[4CE82CF9E82CE346]
row=2
col=0

[48CE8FB6CE8F9B38]
row=0
col=0

[ef35d15d-4135-4223-b6ee-db70bc330a3c]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/khoa]
row=5
col=0

